#sidebar {
  min-height: 100vh;
  height: 100%;
  width: 250px;
  position: fixed;
  overflow-y: auto;
}

@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.tag-button {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
}

.tag-button:not(.active-tag):hover {
  background-color:rgb(167, 205, 242);
  transform: scale(1.05);
}

.tag-button:not(.active-tag):active {
  background-color:rgb(66, 134, 201);
  transform: scale(0.95);
}

.active-tag {
  background-color:rgb(7, 160, 255);
  color: #212529;
  font-weight: bold;
  border: 2px solid rgb(28, 114, 168);
  cursor: default;
  font-size: 1.0rem;
}

@media (max-width: 768px) {
  .tag-button {
    max-width: 100px;
  }
}
