<div class="row p-3" id="content">
  <div class="col-12 mb-2">
    <!-- Búsqueda -->
    <gifs-search-box></gifs-search-box>
  </div>

  @if (!(tagsHistory.length > 0)) {
    <div class="mt-3 mb-3 col-6 offset-3 text-center">
      <h5>¡Bienvenido! Inserte un criterio de búsqueda para encontrar Gifs relacionados</h5>
    </div>
    <div class="col-12 pt-2">
      <!-- Listado de Gifs -->
      <gifs-card-list [gifs] = "exampleGifs"></gifs-card-list>
    </div>
  }@else if (!(gifs.length > 0)) {
    <div class="mt-3 col-6 offset-3 text-center">
      <h6>No se han encontrado resultados con el criterio de búsqueda "{{ latestTag }}"</h6>
      <h6>🚫</h6>
    </div>
  }@else {
    <div class="col-12 pt-2">
      <!-- Listado de Gifs -->
      <gifs-card-list [gifs] = "gifs"></gifs-card-list>
    </div>
  }

</div>
